{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/my-money",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1649496514256.2952,
          "date": "2022-04-09T09:30:06.774Z"
        },
        {
          "file": "css/styles.css",
          "mtimeMs": 1649496560856.4414,
          "date": "2022-04-09T09:30:11.240Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1649496564778.9731,
          "date": "2022-04-09T09:30:12.476Z"
        },
        {
          "file": "css/styles.min.css.map",
          "mtimeMs": 1649496564782.9697,
          "date": "2022-04-09T09:30:13.265Z"
        },
        {
          "file": "fonts/AngleciaProDisplayItalic.eot",
          "mtimeMs": 1644897412000,
          "date": "2022-03-18T07:34:41.385Z"
        },
        {
          "file": "fonts/AngleciaProDisplayItalic.svg",
          "mtimeMs": 1644897412000,
          "date": "2022-03-18T07:34:42.429Z"
        },
        {
          "file": "fonts/AngleciaProDisplayItalic.ttf",
          "mtimeMs": 1644897412000,
          "date": "2022-03-18T07:34:43.266Z"
        },
        {
          "file": "fonts/AngleciaProDisplayItalic.woff",
          "mtimeMs": 1644897412000,
          "date": "2022-03-18T07:34:43.991Z"
        },
        {
          "file": "fonts/AngleciaProDisplayItalic.woff2",
          "mtimeMs": 1644897412000,
          "date": "2022-03-18T07:34:44.750Z"
        },
        {
          "file": "fonts/CircleBold.eot",
          "mtimeMs": 1644925792115,
          "date": "2022-03-18T07:34:45.792Z"
        },
        {
          "file": "fonts/CircleBold.svg",
          "mtimeMs": 1644925799220,
          "date": "2022-03-18T07:34:47.274Z"
        },
        {
          "file": "fonts/CircleBold.ttf",
          "mtimeMs": 1644925803275,
          "date": "2022-03-18T07:34:48.296Z"
        },
        {
          "file": "fonts/CircleBold.woff",
          "mtimeMs": 1644925807512,
          "date": "2022-03-18T07:34:49.108Z"
        },
        {
          "file": "fonts/CircleBold.woff2",
          "mtimeMs": 1644925811432,
          "date": "2022-03-18T07:34:49.861Z"
        },
        {
          "file": "fonts/CircleLight.eot",
          "mtimeMs": 1644897860000,
          "date": "2022-03-18T07:34:50.765Z"
        },
        {
          "file": "fonts/CircleLight.svg",
          "mtimeMs": 1644897860000,
          "date": "2022-03-18T07:34:52.271Z"
        },
        {
          "file": "fonts/CircleLight.ttf",
          "mtimeMs": 1644897860000,
          "date": "2022-03-18T07:34:53.201Z"
        },
        {
          "file": "fonts/CircleLight.woff",
          "mtimeMs": 1644897860000,
          "date": "2022-03-18T07:34:54.070Z"
        },
        {
          "file": "fonts/CircleLight.woff2",
          "mtimeMs": 1644897862000,
          "date": "2022-03-18T07:34:54.836Z"
        },
        {
          "file": "fonts/CircleRegular.eot",
          "mtimeMs": 1644897712000,
          "date": "2022-03-18T07:34:55.876Z"
        },
        {
          "file": "fonts/CircleRegular.svg",
          "mtimeMs": 1644897712000,
          "date": "2022-03-18T07:34:57.397Z"
        },
        {
          "file": "fonts/CircleRegular.ttf",
          "mtimeMs": 1644897712000,
          "date": "2022-03-18T07:34:58.946Z"
        },
        {
          "file": "fonts/CircleRegular.woff",
          "mtimeMs": 1644897712000,
          "date": "2022-03-18T07:34:59.774Z"
        },
        {
          "file": "fonts/CircleRegular.woff2",
          "mtimeMs": 1644897714000,
          "date": "2022-03-18T07:35:00.505Z"
        },
        {
          "file": "fonts/Muller.eot",
          "mtimeMs": 1583541238000,
          "date": "2022-03-18T07:35:01.305Z"
        },
        {
          "file": "fonts/Muller.svg",
          "mtimeMs": 1583541236000,
          "date": "2022-03-18T07:35:02.287Z"
        },
        {
          "file": "fonts/Muller.ttf",
          "mtimeMs": 1583541236000,
          "date": "2022-03-18T07:35:03.073Z"
        },
        {
          "file": "fonts/Muller.woff",
          "mtimeMs": 1583541236000,
          "date": "2022-03-18T07:35:03.829Z"
        },
        {
          "file": "fonts/Muller.woff2",
          "mtimeMs": 1583541238000,
          "date": "2022-03-18T07:35:04.516Z"
        },
        {
          "file": "fonts/MullerBold.eot",
          "mtimeMs": 1583541238000,
          "date": "2022-03-18T07:35:05.365Z"
        },
        {
          "file": "fonts/MullerBold.svg",
          "mtimeMs": 1583541236000,
          "date": "2022-03-18T07:35:06.339Z"
        },
        {
          "file": "fonts/MullerBold.ttf",
          "mtimeMs": 1583541236000,
          "date": "2022-03-18T07:35:07.168Z"
        },
        {
          "file": "fonts/MullerBold.woff",
          "mtimeMs": 1583541236000,
          "date": "2022-03-18T07:35:07.956Z"
        },
        {
          "file": "fonts/MullerBold.woff2",
          "mtimeMs": 1583541236000,
          "date": "2022-03-18T07:35:08.726Z"
        },
        {
          "file": "img/backs/author.png",
          "mtimeMs": 1644944719401.5178,
          "date": "2022-03-18T07:35:09.750Z"
        },
        {
          "file": "img/backs/clouds.png",
          "mtimeMs": 1644944724322.5132,
          "date": "2022-03-18T07:35:10.716Z"
        },
        {
          "file": "img/backs/main.png",
          "mtimeMs": 1644944728931.4836,
          "date": "2022-03-18T07:35:11.642Z"
        },
        {
          "file": "img/icons/play.png",
          "mtimeMs": 1644944743562.4192,
          "date": "2022-03-18T07:35:12.320Z"
        },
        {
          "file": "img/images/get.png",
          "mtimeMs": 1644944784974.4832,
          "date": "2022-03-18T07:35:13.091Z"
        },
        {
          "file": "img/images/if-1.png",
          "mtimeMs": 1644944789995.6619,
          "date": "2022-03-18T07:35:13.810Z"
        },
        {
          "file": "img/images/if-2.png",
          "mtimeMs": 1644944795740.0427,
          "date": "2022-03-18T07:35:14.597Z"
        },
        {
          "file": "img/images/if-item-1.png",
          "mtimeMs": 1644944800900.28,
          "date": "2022-03-18T07:35:15.418Z"
        },
        {
          "file": "img/images/if-item-2.png",
          "mtimeMs": 1644944806863.7498,
          "date": "2022-03-18T07:35:16.285Z"
        },
        {
          "file": "img/images/if-item-3.png",
          "mtimeMs": 1644944813361.5312,
          "date": "2022-03-18T07:35:17.149Z"
        },
        {
          "file": "img/images/if-item-4.png",
          "mtimeMs": 1644944818772.3108,
          "date": "2022-03-18T07:35:17.853Z"
        },
        {
          "file": "img/images/if-item-5.png",
          "mtimeMs": 1644944824406.957,
          "date": "2022-03-18T07:35:18.699Z"
        },
        {
          "file": "img/images/magazine.png",
          "mtimeMs": 1644944830899.168,
          "date": "2022-03-18T07:35:19.577Z"
        },
        {
          "file": "img/images/main-1.png",
          "mtimeMs": 1644944836339.4502,
          "date": "2022-03-18T07:35:20.408Z"
        },
        {
          "file": "img/images/main-2.png",
          "mtimeMs": 1644944844246.0034,
          "date": "2022-03-18T07:35:21.187Z"
        },
        {
          "file": "img/images/themes.png",
          "mtimeMs": 1644944851079.0237,
          "date": "2022-03-18T07:35:22.040Z"
        },
        {
          "file": "img/images/video.png",
          "mtimeMs": 1644944856694.5032,
          "date": "2022-03-18T07:35:22.946Z"
        },
        {
          "file": "img/images/yuliya-main.png",
          "mtimeMs": 1649425390537.5994,
          "date": "2022-04-08T17:29:37.044Z"
        },
        {
          "file": "img/images/yuliya.png",
          "mtimeMs": 1644944861705.7024,
          "date": "2022-03-18T07:35:24.948Z"
        },
        {
          "file": "js/libs.js",
          "mtimeMs": 1647672766626.3796,
          "date": "2022-03-21T13:19:15.685Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1647672786988.134,
          "date": "2022-03-21T13:19:16.787Z"
        },
        {
          "file": "js/libs.min.js.map",
          "mtimeMs": 1647672787164.025,
          "date": "2022-03-21T13:19:17.735Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1649436578319.5146,
          "date": "2022-04-08T17:29:43.327Z"
        },
        {
          "file": "js/scripts.js.map",
          "mtimeMs": 1649436578371.4841,
          "date": "2022-04-08T17:29:44.386Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1647674445469.6907,
          "date": "2022-03-21T13:18:06.400Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1647674445469.6907,
          "date": "2022-03-21T13:18:07.069Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1647674678451.7373,
          "date": "2022-03-21T13:18:07.746Z"
        },
        {
          "file": "img/revs/text-1.jpg",
          "mtimeMs": 1647868993000,
          "date": "2022-03-21T13:28:27.784Z"
        },
        {
          "file": "img/revs/text-1.min.jpg",
          "mtimeMs": 1647868993000,
          "date": "2022-03-21T13:28:28.630Z"
        },
        {
          "file": "img/revs/text-10.jpg",
          "mtimeMs": 1647869007000,
          "date": "2022-03-21T13:28:29.634Z"
        },
        {
          "file": "img/revs/text-10.min.jpg",
          "mtimeMs": 1647869008000,
          "date": "2022-03-21T13:28:30.572Z"
        },
        {
          "file": "img/revs/text-11.jpg",
          "mtimeMs": 1647869030000,
          "date": "2022-03-21T13:28:31.492Z"
        },
        {
          "file": "img/revs/text-11.min.jpg",
          "mtimeMs": 1647869030000,
          "date": "2022-03-21T13:28:32.337Z"
        },
        {
          "file": "img/revs/text-12.jpg",
          "mtimeMs": 1647869031000,
          "date": "2022-03-21T13:28:33.368Z"
        },
        {
          "file": "img/revs/text-12.min.jpg",
          "mtimeMs": 1647869032000,
          "date": "2022-03-21T13:28:34.268Z"
        },
        {
          "file": "img/revs/text-13.jpg",
          "mtimeMs": 1647869033000,
          "date": "2022-03-21T13:28:35.205Z"
        },
        {
          "file": "img/revs/text-13.min.jpg",
          "mtimeMs": 1647869034000,
          "date": "2022-03-21T13:28:36.094Z"
        },
        {
          "file": "img/revs/text-14.jpg",
          "mtimeMs": 1647869035000,
          "date": "2022-03-21T13:28:36.954Z"
        },
        {
          "file": "img/revs/text-14.min.jpg",
          "mtimeMs": 1647869035000,
          "date": "2022-03-21T13:28:37.770Z"
        },
        {
          "file": "img/revs/text-15.jpg",
          "mtimeMs": 1647869036000,
          "date": "2022-03-21T13:28:38.657Z"
        },
        {
          "file": "img/revs/text-15.min.jpg",
          "mtimeMs": 1647869037000,
          "date": "2022-03-21T13:28:39.531Z"
        },
        {
          "file": "img/revs/text-16.jpg",
          "mtimeMs": 1647869038000,
          "date": "2022-03-21T13:28:40.470Z"
        },
        {
          "file": "img/revs/text-16.min.jpg",
          "mtimeMs": 1647869038000,
          "date": "2022-03-21T13:28:41.477Z"
        },
        {
          "file": "img/revs/text-17.jpg",
          "mtimeMs": 1647869039000,
          "date": "2022-03-21T13:28:42.511Z"
        },
        {
          "file": "img/revs/text-17.min.jpg",
          "mtimeMs": 1647869040000,
          "date": "2022-03-21T13:28:43.491Z"
        },
        {
          "file": "img/revs/text-18.jpg",
          "mtimeMs": 1647869041000,
          "date": "2022-03-21T13:28:44.386Z"
        },
        {
          "file": "img/revs/text-18.min.jpg",
          "mtimeMs": 1647869041000,
          "date": "2022-03-21T13:28:45.299Z"
        },
        {
          "file": "img/revs/text-19.jpg",
          "mtimeMs": 1647869042000,
          "date": "2022-03-21T13:28:46.223Z"
        },
        {
          "file": "img/revs/text-19.min.jpg",
          "mtimeMs": 1647869043000,
          "date": "2022-03-21T13:28:47.221Z"
        },
        {
          "file": "img/revs/text-2.jpg",
          "mtimeMs": 1647868994000,
          "date": "2022-03-21T13:28:48.225Z"
        },
        {
          "file": "img/revs/text-2.min.jpg",
          "mtimeMs": 1647868995000,
          "date": "2022-03-21T13:28:49.076Z"
        },
        {
          "file": "img/revs/text-20.jpg",
          "mtimeMs": 1647869044000,
          "date": "2022-03-21T13:28:50.101Z"
        },
        {
          "file": "img/revs/text-20.min.jpg",
          "mtimeMs": 1647869044000,
          "date": "2022-03-21T13:28:51.984Z"
        },
        {
          "file": "img/revs/text-21.jpg",
          "mtimeMs": 1647869046000,
          "date": "2022-03-21T13:28:53.086Z"
        },
        {
          "file": "img/revs/text-21.min.jpg",
          "mtimeMs": 1647869291168.2195,
          "date": "2022-03-21T13:28:54.016Z"
        },
        {
          "file": "img/revs/text-3.jpg",
          "mtimeMs": 1647868996000,
          "date": "2022-03-21T13:28:54.884Z"
        },
        {
          "file": "img/revs/text-3.min.jpg",
          "mtimeMs": 1647868997000,
          "date": "2022-03-21T13:28:55.780Z"
        },
        {
          "file": "img/revs/text-4.jpg",
          "mtimeMs": 1647868998000,
          "date": "2022-03-21T13:28:56.826Z"
        },
        {
          "file": "img/revs/text-4.min.jpg",
          "mtimeMs": 1647868998000,
          "date": "2022-03-21T13:28:57.608Z"
        },
        {
          "file": "img/revs/text-5.jpg",
          "mtimeMs": 1647868999000,
          "date": "2022-03-21T13:28:58.607Z"
        },
        {
          "file": "img/revs/text-5.min.jpg",
          "mtimeMs": 1647869000000,
          "date": "2022-03-21T13:28:59.508Z"
        },
        {
          "file": "img/revs/text-6.jpg",
          "mtimeMs": 1647869001000,
          "date": "2022-03-21T13:29:00.402Z"
        },
        {
          "file": "img/revs/text-6.min.jpg",
          "mtimeMs": 1647869002000,
          "date": "2022-03-21T13:29:01.305Z"
        },
        {
          "file": "img/revs/text-7.jpg",
          "mtimeMs": 1647869003000,
          "date": "2022-03-21T13:29:02.337Z"
        },
        {
          "file": "img/revs/text-7.min.jpg",
          "mtimeMs": 1647869003000,
          "date": "2022-03-21T13:29:03.150Z"
        },
        {
          "file": "img/revs/text-8.jpg",
          "mtimeMs": 1647869004000,
          "date": "2022-03-21T13:29:04.176Z"
        },
        {
          "file": "img/revs/text-8.min.jpg",
          "mtimeMs": 1647869005000,
          "date": "2022-03-21T13:29:05.154Z"
        },
        {
          "file": "img/revs/text-9.jpg",
          "mtimeMs": 1647869006000,
          "date": "2022-03-21T13:29:06.144Z"
        },
        {
          "file": "img/revs/text-9.min.jpg",
          "mtimeMs": 1647869007000,
          "date": "2022-03-21T13:29:06.998Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1647868870267.666,
          "date": "2022-03-21T13:29:07.857Z"
        },
        {
          "file": "img/revs/video-10.jpg",
          "mtimeMs": 1647868940626.1938,
          "date": "2022-03-21T13:29:08.788Z"
        },
        {
          "file": "img/revs/video-11.jpg",
          "mtimeMs": 1647868950391.8545,
          "date": "2022-03-21T13:29:09.604Z"
        },
        {
          "file": "img/revs/video-12.jpg",
          "mtimeMs": 1647868957377.742,
          "date": "2022-03-21T13:29:10.594Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1647868877597.1418,
          "date": "2022-03-21T13:29:11.655Z"
        },
        {
          "file": "img/revs/video-3.jpg",
          "mtimeMs": 1647868884129.229,
          "date": "2022-03-21T13:29:12.467Z"
        },
        {
          "file": "img/revs/video-4.jpg",
          "mtimeMs": 1647868890993.244,
          "date": "2022-03-21T13:29:13.243Z"
        },
        {
          "file": "img/revs/video-5.jpg",
          "mtimeMs": 1647868901052.011,
          "date": "2022-03-21T13:29:14.002Z"
        },
        {
          "file": "img/revs/video-6.jpg",
          "mtimeMs": 1647868909536.0999,
          "date": "2022-03-21T13:29:15.007Z"
        },
        {
          "file": "img/revs/video-7.jpg",
          "mtimeMs": 1647868916479.9648,
          "date": "2022-03-21T13:29:15.892Z"
        },
        {
          "file": "img/revs/video-8.jpg",
          "mtimeMs": 1647868923299.8452,
          "date": "2022-03-21T13:29:16.849Z"
        },
        {
          "file": "img/revs/video-9.jpg",
          "mtimeMs": 1647868930216.24,
          "date": "2022-03-21T13:29:17.976Z"
        },
        {
          "file": "dat/index.html",
          "mtimeMs": 1649496514346.2402,
          "date": "2022-04-09T09:30:14.007Z"
        },
        {
          "file": "daten.docx",
          "mtimeMs": 1648659039210.539,
          "date": "2022-03-30T16:52:38.261Z"
        },
        {
          "file": "course/index.html",
          "mtimeMs": 1649496514337.2458,
          "date": "2022-04-09T09:30:07.698Z"
        },
        {
          "file": "css/course.css",
          "mtimeMs": 1649496560862.4385,
          "date": "2022-04-09T09:30:08.615Z"
        },
        {
          "file": "css/course.min.css",
          "mtimeMs": 1649496564780.9724,
          "date": "2022-04-09T09:30:09.573Z"
        },
        {
          "file": "css/course.min.css.map",
          "mtimeMs": 1649496564782.9697,
          "date": "2022-04-09T09:30:10.377Z"
        },
        {
          "file": "img/images/plan.png",
          "mtimeMs": 1649423088103.3079,
          "date": "2022-04-08T17:29:36.050Z"
        },
        {
          "file": "js/course-libs.js",
          "mtimeMs": 1649420998626.46,
          "date": "2022-04-08T17:29:38.014Z"
        },
        {
          "file": "js/course-libs.min.js",
          "mtimeMs": 1649438997081.68,
          "date": "2022-04-09T06:16:47.035Z"
        },
        {
          "file": "js/course-libs.min.js.map",
          "mtimeMs": 1649438997107.6626,
          "date": "2022-04-09T06:16:48.333Z"
        },
        {
          "file": "js/course.js",
          "mtimeMs": 1649484692722.006,
          "date": "2022-04-09T06:16:49.058Z"
        },
        {
          "file": "js/course.js.map",
          "mtimeMs": 1649484692792.9614,
          "date": "2022-04-09T06:16:49.847Z"
        },
        {
          "file": "img/icons/imp.png",
          "mtimeMs": 1649496590761.8267,
          "date": "2022-04-09T09:30:14.936Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/course-libs.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\course-libs.js"
        }
      },
      {
        "file": "_app/_js/course.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\course.js",
          "sourceMap": true
        }
      },
      {
        "file": "_app/_js/libs.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\libs.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js",
          "sourceMap": true
        }
      },
      {
        "file": "_app/course.pug",
        "config": {
          "customOutput": "course\\index.html"
        }
      },
      {
        "file": "_app/dat.pug",
        "config": {
          "customOutput": "dat\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/course.min.styl",
        "config": {
          "tasks": {
            "stylus": {
              "options": {
                "useNib": false
              }
            },
            "minify-css": {
              "enable": false
            }
          },
          "customOutput": "css\\course.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.css",
          "tasks": {
            "stylus": {
              "options": {
                "useNib": false
              }
            },
            "minify-css": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "css/course.css",
        "config": {
          "sourceMap": true,
          "autoCompile": true,
          "customOutput": "css\\course.min.css"
        }
      },
      {
        "file": "css/styles.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "js/course-libs.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js\\course-libs.min.js"
        }
      },
      {
        "file": "js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js",
          "sourceMap": true
        }
      }
    ]
  }
}
