#main
	padding 120px 0 80px
	background-image: url(../img/backs/main.png)
	background-repeat: no-repeat
	background-position: center
	background-size contain
	margin-bottom: 45px
	position relative
	@media screen and (min-width 1900px)
		background-size: cover
	@media screen and (max-width 991px)
		padding 60px 0
		margin-bottom: 0
	@media screen and (max-width 386px)
		padding 40px 0
		margin-bottom: 20px
.general-img-main-1
	bottom: -100px
	left -250px
	z-index -2
	@media screen and (max-width 991px)
		bottom: -50px
	@media screen and (max-width 560px)
		width 250px
		left -100px
		bottom: 0
.general-img-main-2
	top -120px
	right -300px
	z-index 20
	@media screen and (max-width 560px)
		width 200px
		right -100px
		top -60px
		z-index -1
.general-img-main-3
	bottom: -200px
	left 0
	right 0
	margin 0 auto
	z-index 200
	width 100%
.main
	&-pre
		color #8a8888
		text-transform uppercase
		@media screen and (max-width 560px)
			font-size: 16px
	&-title
		font-size: 60px
		font-family: ADP
		font-style: italic
		color #769b72
		margin 25px 0 40px
		line-height: 43px
		@media screen and (max-width 560px)
			font-size: 42px
			margin 20px 0
		@media screen and (max-width 386px)
			font-size: 36px
	&-subtitle
		font-family: ADP
		font-size: 40px
		font-style: italic
		line-height: 50px
		margin-bottom: 40px
		@media screen and (max-width 560px)
			font-size: 30px
			margin-bottom: 30px
		@media screen and (max-width 386px)
			font-size: 24px
			line-height: 30px
		span
			color #769b72
	&-info
		&-wrapper
			position relative
			display inline-block
			border-radius: 10px
			width 100%
			max-width 165px
			&:before
				content: ''
				display block
				position absolute
				width 90%
				height: 100px
				border-radius: 10px
				box-shadow: 0px 7px 13.76px 2.24px rgba(0, 0, 0, 0.08);
				background-color #fff
				left 0
				right 0
				margin 0 auto
				bottom: -10px
				z-index -1
			&:first-of-type
				margin-right: 40px
				@media screen and (max-width 560px)
					margin-right: 20px
				@media screen and (max-width 386px)
					margin 0 5px 20px 0
		padding 25px
		background-color #fff
		border-radius: 10px;
		box-shadow: 0px 7px 13.76px 2.24px rgba(0, 0, 0, 0.08);
		z-index 10
		@media screen and (max-width 560px)
			padding 20px
		&-text
			font-family: ADP
			font-size: 20px
			font-style: italic
			color #000
			line-height: 26px
			small
				display block
				font-family: M
				font-size: 16px
				font-style: normal
				color #d8c383
	&-img
		position relative
		padding-top: 100%
		@media screen and (max-width 991px)
			padding-top: 0
		img
			position absolute
			top -100px
			left 0
			@media screen and (min-width 1900px)
				top -42px
			@media screen and (max-width 991px)
				position: static
				display block
				width 100%
				max-width 711px
				margin 50px auto 0
		&-name
			position absolute
			bottom: 100px
			left 100px
			z-index 40
			text-align center
			@media screen and (max-width 991px)
				bottom: 300px
				left 0
				right 0
				margin 0 auto
			@media screen and (max-width 560px)
				bottom: 200px
			@media screen and (max-width 386px)
				bottom: 140px
			&:before
				content:  ''
				display block
				background-color: rgb(173,200,179)
				background-image: linear-gradient(to bottom, rgb(118,155,114) 0%, rgb(173,200,179) 100%);
				box-shadow: inset 0px 17px 20.16px 0.84px rgba(255, 255, 255, 0.89), 0 3px 0 0 #527a5a;
				border-radius: 10px
				position absolute
				top: -27px
				left -44px
				z-index: 26;
				width 240px
				height 74px
				z-index 0
				transform: skewX(-20deg)
				@media screen and (max-width 991px)
					left 0
					right 0
					margin 0 auto
				@media screen and (max-width 386px)
					width 140px
					height: 44px
					top -18px
			&-text
				position relative
				z-index 30
				font-family: C
				font-size: 14px
				font-weight: bold
				text-transform uppercase
				text-align center
				color #fff
				@media screen and (max-width 386px)
					font-size: 10px
.button-wrapper-main
	margin 60px 0 0