#plan
	background-image: url(../img/backs/clouds.png)
	background-repeat: no-repeat
	background-position: center
	background-size contain
	@media screen and (max-width 767px)
		background-image: none
.general-img-plan
	top 300px
	right -400px
	@media screen and (max-width 560px)
		width 250px
		right -100px
		top 45%
	@media screen and (max-width 386px)
		right -200px
.plan-img
	width auto
	@media screen and (max-width 1199px)
		img
			left -200px
	@media screen and (max-width 991px)
		padding-top: 0
		img
			position static
			display block
			width 100%
			max-width 1126px
			margin -100px auto -100px 11%
	@media screen and (max-width 386px)
		img
			margin -50px auto -50px 11%
.general-list-plan
	margin-bottom: 100px
	@media screen and (max-width 1199px)
		margin-bottom: 60px
	@media screen and (max-width 560px)
		margin-bottom: 40px
	li
		span
			font-size: 120%
			font-weight: bold
	// li
	// 	&:nth-child(4)
	// 		margin-left: 60px
	// 		@media screen and (max-width 991px)
	// 			margin-left: 0
	// 	&:nth-child(5)
	// 		margin-left: 100px
	// 		@media screen and (max-width 991px)
	// 			margin-left: 0
	// 	&:nth-child(6)
	// 		margin-left: 140px
	// 		@media screen and (max-width 991px)
	// 			margin-left: 0