#get
	padding 100px 0
.general-img-get
	top -300px
	left -150px
.get-item-wrapper
	position relative
	width 100%
	max-width 216px
	margin 0 auto 70px
	border-radius: 10px
	background-color #fff
	box-shadow: 0px 7px 13.76px 2.24px rgba(0, 0, 0, 0.08);
	float: left
	margin-right: 14px
	&-5
		margin-right: 0
	&:before
		content: ''
		display block
		position absolute
		bottom: -10px
		left 0
		right 0
		margin 0 auto
		border-radius: 10px
		width 90%
		height: 100px
		background-color #fff
		box-shadow: 0px 7px 13.76px 2.24px rgba(0, 0, 0, 0.08);
		z-index -1
.get-item
	position relative
	padding 70px 5px 15px
	display table
	width 100%
	z-index 40
	text-align center
	min-height 226px
	&-title
		position absolute
		top -5px
		left 0
		right 0
		margin 0 auto
		border-radius: 50%
		background-color: rgb(241,224,172)
		background-image: linear-gradient(to top, rgb(221,193,107) 0%, rgb(241,224,172) 100%);
		box-shadow: inset 0px 50px 41.16px 7.84px rgba(255, 255, 255, 0.5);
		width: 55px;
		line-height: 55px;
		font-family: ADP
		font-size: 25px
		font-style: italic
	&-text
		display table-cell
		vertical-align middle