#author
	padding 50px 0 150px
	background-image: url('../img/backs/author.png')
	background-repeat: no-repeat
	background-position: center bottom
	background-size: cover
	overflow hidden
	@media screen and (max-width 991px)
		padding 50px 0 0
.general-title-author
	text-align: left
	font-weight: bold
	small
		display block
		font-size: 35px
		font-weight: normal
		@media screen and (max-width 560px)
			font-size: 20px
.author-img
	position relative
	padding-top: 100%
	img
		position absolute
		bottom: -250px
		left 0
	@media screen and (max-width 1199px)
		img
			bottom: -400px
	@media screen and (max-width 991px)
		padding-top: 0
		img
			display block
			position: static
			width 100%
			max-width 491px
			margin 50px auto 0