APD = 'AngleciaProDisplay', serif;
C = 'Circle', sans-serif;
M = 'Muller', sans-serif;

@font-face
	font-family: 'AngleciaProDisplay';
	font-display: fallback;
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/AngleciaProDisplayItalic.eot');
	src: url('../fonts/AngleciaProDisplayItalic.eot') format('embedded-opentype'), url('../fonts/AngleciaProDisplayItalic.woff2') format('woff2'), url('../fonts/AngleciaProDisplayItalic.woff') format('woff'), url('../fonts/AngleciaProDisplayItalic.ttf') format('truetype'), url('../fonts/AngleciaProDisplayItalic.svg#AngleciaProDisplayItalic') format('svg');
@font-face
	font-family: 'Circle';
	font-display: fallback;
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/CircleLight.eot');
	src: url('../fonts/CircleLight.eot') format('embedded-opentype'), url('../fonts/CircleLight.woff2') format('woff2'), url('../fonts/CircleLight.woff') format('woff'), url('../fonts/CircleLight.ttf') format('truetype'), url('../fonts/CircleLight.svg#CircleLight') format('svg');
@font-face
	font-family: 'Circle';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/CircleRegular.eot');
	src: url('../fonts/CircleRegular.eot') format('embedded-opentype'), url('../fonts/CircleRegular.woff2') format('woff2'), url('../fonts/CircleRegular.woff') format('woff'), url('../fonts/CircleRegular.ttf') format('truetype'), url('../fonts/CircleRegular.svg#CircleRegular') format('svg');
@font-face
	font-family: 'Circle';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/CircleBold.eot');
	src: url('../fonts/CircleBold.eot') format('embedded-opentype'), url('../fonts/CircleBold.woff2') format('woff2'), url('../fonts/CircleBold.woff') format('woff'), url('../fonts/CircleBold.ttf') format('truetype'), url('../fonts/CircleBold.svg#CircleBold') format('svg');
@font-face
	font-family: 'Muller';
	src: url('../fonts/Muller.eot');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Muller.eot') format('embedded-opentype'), url('../fonts/Muller.woff2') format('woff2'), url('../fonts/Muller.woff') format('woff'), url('../fonts/Muller.ttf') format('truetype'), url('../fonts/Muller.svg#Muller') format('svg');
@font-face
	font-family: 'Muller';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/MullerBold.eot');
	src: url('../fonts/MullerBold.eot') format('embedded-opentype'), url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff'), url('../fonts/MullerBold.ttf') format('truetype'), url('../fonts/MullerBold.svg#MullerBold') format('svg');