section#video
	.container
		+gt('general-title-green', 'Видео приглашение <br class="mb-none"> от Юлии Габерштейн')
		.video-img
			+imgs('video-img-inner', 'img/images/video.png', 'Видео')
			a.button-up(href='#Modal-video')
				+imgs('video-img-play', 'img/icons/play.png', 'Нажать')
		+b('', '', href, 'Записаться')