section#themes
	.container
		.content
			+imgs('general-img general-img-themes', 'img/images/themes.png', 'Ветка')
			+gt('', 'На мастер-классе <br class="mb-none">будут раскрыты следующие темы:')
			.row
				.col-md-6
					.themes-img
						+imgs('', 'img/images/magazine.png', 'Журнал')
				.col-md-6
					ul.general-list.general-list-themes
						li Как ваши детские установки 
							br.mb-none
							| удерживают вас от богатства.
						li Какое отношение 
							br.mb-none
							| к деньгам имеет зависть.
						li Почему одни могут иметь больше денег и жить 
							br.mb-none
							| в достатке, а другие живут от зарплаты до зарплаты.
						li Какие наши личностные качества 
							br.mb-none
							| влияют на количество денег.
						li Как изменить ситуацию 
							br.mb-none
							| с минуса на плюс.
						li Бонусом станут рабочие техники,  которые 
							br.mb-none
							| помогут вам улучшить свое финансовое положение.
			+b('', '', href, 'Мне это интересно')