mixin gi(n, p)
	.get-item-wrapper
		.get-item
			h4.get-item-title='0'+n
			p.get-item-text=p

section#get
	+gt('general-img general-img-get', 'img/images/get.png', 'Ветка')
	.container
		.content
			+gt('', 'Благодаря мастер-классу, вы:')
			.row
				.col-md-2.col-md-offset-1
					+gi('1', 'Узнаете, как работает энергия денег')
				.col-md-2
					+gi('2', 'Поймете, что привлекает деньги, а что отталкивает их')
				.col-md-2
					+gi('3', 'Пробьете свой финансовый потолок')
				.col-md-2
					+gi('4', 'Избавитесь от шаблонов и ограничений, которые мешают увеличить доход')
				.col-md-2
					+gi('5', 'Построите новые взаимоотношения с деньгами, которые приведут к прибыли')
			+b('', 'button-up', href, 'Хочу всё это')