mixin gi(n, p)
	.get-item-wrapper(class='get-item-wrapper-'+n)
		.get-item
			h4.get-item-title='0'+n
			p.get-item-text=p

section#get
	.container
		.content
			+imgs('general-img general-img-get', 'img/images/get.png', 'Ветка')
			+gt('', 'Благодаря мастер-классу, вы:')
			.get-items
				+gi('1', 'Узнаете, как работает энергия денег')
				+gi('2', 'Поймете, что привлекает деньги, а что отталкивает их')
				+gi('3', 'Пробьете свой финансовый потолок')
				+gi('4', 'Избавитесь от шаблонов и ограничений, которые мешают увеличить доход')
				+gi('5', 'Построите новые взаимоотношения с деньгами, которые приведут к прибыли')
			+b('', '', href, 'Хочу всё это')