section#author
	.container
		.row
			.col-md-5.col-md-offset-1
				h3.auhtor-title
					small О тренере
					| Юлия Габерштейн
				ul.general-list
					li Дипломированный психолог
					li НЛП-коуч
					li Гипнолог
					li Арт-терапевт/нейрографика
					li Спикер и ведущая авторских курсов
					li МАК-терапевт
					li Сертифицированный системный расстановщик и системный терапевт
			.col-md-6
				.author-img
					+imgs('', 'img/images/yuliya.png', '​​Юлия Габерштейн')