section#plan
	.container
		.content
			+imgs('general-img general-img-plan', 'img/images/themes.png', 'Ветка')
			+gt('', 'План курса:')
			.row
				.col-md-6
					ul.general-list.general-list-plan
						li Как найти свое предназначение?
						li Работа с негативными установками. Как найти и проработать?
						li Психология денег. Проработка денежных потолков.
						li Уход от самосаботажа.
						li Признаки Дорн аут. Как с ними справиться?
				.col-md-6
					ul.general-list.general-list-plan
						li Какие качества необходимы чтобы увеличить финансовый поток? Как их развивать?
						li Как привить детям финансовое мышление.
						li Что уже не работает на рынке финансов?
						li Личный бренд - что это и зачем он нужен?
						li Деньги в семейном бюджете. Кто должен зарабатывать?
			.row
				.col-md-6.col-md-offset-3
					ul.general-list.general-list-plan
						li
							span + медитации + рабочая тетрадь + чек листы в подарок.
			+b('', '', href, 'Записаться')