mixin gi(n, p)
	.get-item(class='get-item-'+n)
		.get-item-img
			+imgs('', 'img/images/if-item-'+n+'.png', p)
		.get-tiem-check
		p.get-item-text=p


section#get
	.container
		.content
			+imgs('general-img general-img-get', 'img/images/get.png', 'Ветка')
			+gt('', 'Что вы получите в результате прохождения курса:')
			.row
				.col-md-4
					+gi('2', 'проработаете детские травмы, связанные с деньгами и финансовым мышлением')
				.col-md-4
					+gi('1', 'увидите, что отделяет вас от желаемой суммы и разработаете пошаговую дорожную карту для ее достижения')
				.col-md-4
					+gi('3', 'узнаете об особенностях детского финансового мышления, и как с раннего возраста прививать детям культуру денежного мышления')
			.row
				.col-md-4.col-md-offset-2
					+gi('4', 'проработаете внутренние денежные блоки и запреты')
				.col-md-4
					+gi('5', 'поймете, как развивать не только личные финансовые ресурсы, но и семейные, чтобы при этом сохранились отношения')
			+b('button-wrapper-get', '', href, 'Хочу получить')